<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form method="post" th:action="@{/add-user}" th:object="${user}">
        Username: <input type="text" th:field="*{username}"/><br/>
        <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></td>
        Password: <input type="password" th:field="*{password}"/><br/>
        <td th:if="${password_error != null}" th:text="${password_error}"></td>
        <br/>
        <input type="submit" value="Register"/>
    </form>
</body>
</html>